<div class="main" style="margin-top: -45%;">
    <h3 style="color: lightseagreen">CUSTOMER PLACE ORDER LIST</h3><br>
    <div>
      <input type="text" name="searchTerm">
    </div>
  <div class="table-responsive" style="width: 97%;">          
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Item Name</th>
          <th>Order ID</th>
          <th>Delivery Address</th>
          <th>Delivery Time</th>
          <th>Delivery Fee</th>
          <th>Order Qty</th>
          <th>Total Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orderList of orderLists | customerFilter : searchTerm | paginate: { itemsPerPage: 15, currentPage: p }">
          <td>{{orderList.userName}}</td>
          <td>{{orderList.itemName}}</td>
          <td>{{orderList.orderId}}</td>
          <td>{{orderList.deliveryAddress}}</td>
          <td>{{orderList.deliveryTime}}</td>
          <td>{{orderList.deliveryFee}}</td>
          <td>{{orderList.order_qty}}</td>
          <td>{{orderList.total_amount}}</td>
          <td><button id="btnDelete"><img  id="delete" src="../assets/images/delete1.png"></button></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
            <td colspan="4">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </td>
        </tr>
        </tfoot>
    </table>
  </div>
  
</div>