<div>
  <mat-card>
    <h4>Sign In with your Account</h4>
    <form #frmLogin="ngForm" action="" method="post"
    (ngSubmit)="loginDb()">
      <p>
        <input type="text" id="userName" name="userName" [(ngModel)]="customer.userName" placeholder="Enter Your User Name">
      </p>
      <p>
        <input type="password" id="password" name="password" [(ngModel)]="customer.password" placeholder="Enter Your password">
      </p>
      <p style="margin-left: 30%;">
        <button type="submit" class="btn btn btn-outline-primary waves-effect">SIGN-IN</button>
        <button #btnClose style="margin-left: 5%;" type="submit"
         class="btn btn btn-outline-warring waves-effect">CANCEL</button>
      </p>
    </form>
    <div  *ngIf="failed" class="alert alert-danger alert-dismissible"
    style="margin-top: 10px;">
    <h6><i class="icon fa fa-ban"></i>INVALID LOGIN CREDENTIALS</h6>PLEASE ENTER VALID CREDENTIALS TO LOG
    </div>
    <label >If you have not register yet..</label>
    <h4 style="margin-left: 25%;">REGISTER NOW</h4>
    <p style="margin-left: 45%;">     
       <button style="margin-left: 5%;" type="submit" class="btn btn btn-outline-warring waves-effect"
       (click)="openDialog()">
      REGISTER</button>
    </p>
  </mat-card>
</div>

