<app-nav-bar></app-nav-bar>
<div class="about-main">
  <br>
  <h2 style="margin-left: 10%">Our History....</h2><br>
  <p style="margin-left: 10%">
    St veg and fruit business was started by Mr.H.G.Sirisena in 1960. First this business is started as small 
    business. In this period this was situwated inside old vegetable market in Ahangama.This time, there were 
    also vegetables, fruits and milk at the same time,Not only that this business also very famous at this period.
    Mr.H.G.Sirisenas's son also join this business in 1980. He also gave well support to his father.
    In 1994 Mr.H.G.Sirisena was death and after all his son Mr.H.G.Steewan became the owner of this business.
    He get this business to present situation. <br><br>
    Now there are two employees are work. Peoples are come and get very kindfull and best service through this service.
    Also that is the reason to built this system to provide best services to our clients and save their time, and
    give unbreakeble service for them.
  </p>

  <br>
  <h3  style="margin-left: 10%">Our Vision....</h3><br>
  <p  style="margin-left: 10%">
    "To provide fresh,best vegetables,fruits and a fun atmosphere that will bring customers back again and again."
  </p><br>
  <h3 style="margin-left: 10%">Our Mision....</h3><br>
  <p style="margin-left: 10%">
    "To create a better everyday life for the many people."
    <br>
  </p>
  <hr>
  <div style="margin-left: 5%;">
      <h5 style="color: red">** DELIVERY AVAILABLE TO AHANGAMA & SELECTED SUBURBS. | VISA, MASTERCARD & CASH ON DELIVERY ACCEPTED.</h5>
      <h5>** ALL PRICES ARE INCLUSIVE OF GOVERNMENT TAXES.</h5>
  </div>
</div>
<app-footer></app-footer>