<app-nav-bar></app-nav-bar>
<br>
<p style="margin-left: 25%; margin-top: 5%;">
  <button type="button" class="btn" (click)="btnClick2()">Vegetables</button>&nbsp;
   <button type="button" class="btn" (click)="btnClick()">Fruits</button>&nbsp;
  <button type="button" class="btn" (click)="btnClick3()">Others</button>&nbsp;
</p>
<br>
<mat-card>
    <div style=" margin-top: 5%;">
        <div class="grid-container">
        <div class="card">
          <div class="bg-img"></div>
          <div class="content">
            <h4 style="margin-left: 25%">Carrot</h4>
            <img src="./assets/images/carrot.jpg" style="width: 100px;height: 100px;margin-left: 25%;">
            <div class="container">
              <label for="">Description : </label>
              <p>Up-Country</p>
            </div>
            <div class="container">
              <label for="">Category : </label>
              <p>Vegitable</p>
            </div>
            <div class="container">
              <label for="">One Kilo Price : </label>
              <p>200.00</p>
            </div>
          </div>
        </div>
        <div class="card"><div class="bg-img"></div>
        <div class="content">
          <h4 style="margin-left: 25%">Carrot</h4>
          <img src="./assets/images/carrot.jpg" style="width: 100px;height: 100px;margin-left: 25%;">
          <div class="container">
            <label for="">Description : </label>
            <p>Up-Country</p>
          </div>
          <div class="container">
            <label for="">Category : </label>
            <p>Vegitable</p>
          </div>
          <div class="container">
            <label for="">One Kilo Price : </label>
            <p>200.00</p>
          </div>
        </div>
      </div>
        <div class="card"><div class="bg-img"></div>
        <div class="content">
          <h4 style="margin-left: 25%">Carrot</h4>
          <img src="./assets/images/carrot.jpg" style="width: 100px;height: 100px;margin-left: 25%;">
          <div class="container">
            <label for="">Description : </label>
            <p>Up-Country</p>
          </div>
          <div class="container">
            <label for="">Category : </label>
            <p>Vegitable</p>
          </div>
          <div class="container">
            <label for="">One Kilo Price : </label>
            <p>200.00</p>
          </div>
        </div>
      </div>
      <div class="card"><div class="bg-img"></div>
        <div class="content">
          <h4 style="margin-left: 25%">Carrot</h4>
          <img src="./assets/images/carrot.jpg" style="width: 100px;height: 100px;margin-left: 25%;">
          <div class="container">
            <label for="">Description : </label>
            <p>Up-Country</p>
          </div>
          <div class="container">
            <label for="">Category : </label>
            <p>Vegitable</p>
          </div>
          <div class="container">
            <label for="">One Kilo Price : </label>
            <p>200.00</p>
          </div>
        </div>
      </div>
      <div class="card"><div class="bg-img"></div>
        <div class="content">
          <h4 style="margin-left: 25%">Carrot</h4>
          <img src="./assets/images/carrot.jpg" style="width: 100px;height: 100px;margin-left: 25%;">
          <div class="container">
            <label for="">Description : </label>
            <p>Up-Country</p>
          </div>
          <div class="container">
            <label for="">Category : </label>
            <p>Vegitable</p>
          </div>
          <div class="container">
            <label for="">One Kilo Price : </label>
            <p>200.00</p>
          </div>
        </div>
      </div>
      <div class="card"><div class="bg-img"></div>
        <div class="content">
          <h4 style="margin-left: 25%">Carrot</h4>
          <img src="./assets/images/carrot.jpg" style="width: 100px;height: 100px;margin-left: 25%;">
          <div class="container">
            <label for="">Description : </label>
            <p>Up-Country</p>
          </div>
          <div class="container">
            <label for="">Category : </label>
            <p>Vegitable</p>
          </div>
          <div class="container">
            <label for="">One Kilo Price : </label>
            <p>200.00</p>
          </div>
        </div>
      </div>
      <div class="card"><div class="bg-img"></div>
        <div class="content">
          <h4 style="margin-left: 25%">Carrot</h4>
          <img src="./assets/images/carrot.jpg" style="width: 100px;height: 100px;margin-left: 25%;">
          <div class="container">
            <label for="">Description : </label>
            <p>Up-Country</p>
          </div>
          <div class="container">
            <label for="">Category : </label>
            <p>Vegitable</p>
          </div>
          <div class="container">
            <label for="">One Kilo Price : </label>
            <p>200.00</p>
          </div>
        </div>
      </div>
      <div class="card"><div class="bg-img"></div>
        <div class="content">
          <h4 style="margin-left: 25%">Carrot</h4>
          <img src="./assets/images/carrot.jpg" style="width: 100px;height: 100px;margin-left: 25%;">
          <div class="container">
            <label for="">Description : </label>
            <p>Up-Country</p>
          </div>
          <div class="container">
            <label for="">Category : </label>
            <p>Vegitable</p>
          </div>
          <div class="container">
            <label for="">One Kilo Price : </label>
            <p>200.00</p>
          </div>
        </div>
      </div>
      <div class="card"><div class="bg-img"></div>
        <div class="content">
          <h4 style="margin-left: 25%">Carrot</h4>
          <img src="./assets/images/carrot.jpg" style="width: 100px;height: 100px;margin-left: 25%;">
          <div class="container">
            <label for="">Description : </label>
            <p>Up-Country</p>
          </div>
          <div class="container">
            <label for="">Category : </label>
            <p>Vegitable</p>
          </div>
          <div class="container">
            <label for="">One Kilo Price : </label>
            <p>200.00</p>
          </div>
        </div>
      </div>
      <div class="card"><div class="bg-img"></div>
        <div class="content">
          <h4 style="margin-left: 25%">Carrot</h4>
          <img src="./assets/images/carrot.jpg" style="width: 100px;height: 100px;margin-left: 25%;">
          <div class="container">
            <label for="">Description : </label>
            <p>Up-Country</p>
          </div>
          <div class="container">
            <label for="">Category : </label>
            <p>Vegitable</p>
          </div>
          <div class="container">
            <label for="">One Kilo Price : </label>
            <p>200.00</p>
          </div>
        </div>
      </div>
      <div class="card"><div class="bg-img"></div>
        <div class="content">
          <h4 style="margin-left: 25%">Carrot</h4>
          <img src="./assets/images/carrot.jpg" style="width: 100px;height: 100px;margin-left: 25%;">
          <div class="container">
            <label for="">Description : </label>
            <p>Up-Country</p>
          </div>
          <div class="container">
            <label for="">Category : </label>
            <p>Vegitable</p>
          </div>
          <div class="container">
            <label for="">One Kilo Price : </label>
            <p>200.00</p>
          </div>
        </div>
      </div>
      <div class="card"><div class="bg-img"></div>
        <div class="content">
          <h4 style="margin-left: 25%">Carrot</h4>
          <img src="./assets/images/carrot.jpg" style="width: 100px;height: 100px;margin-left: 25%;">
          <div class="container">
            <label for="">Description : </label>
            <p>Up-Country</p>
          </div>
          <div class="container">
            <label for="">Category : </label>
            <p>Vegitable</p>
          </div>
          <div class="container">
            <label for="">One Kilo Price : </label>
            <p>200.00</p>
          </div>
        </div>
      </div>
      </div>
      </div>      
</mat-card>
<app-footer></app-footer>