<img src="../../../assets/images/homepage -1.jpg" style="width:1360px;height: 650px; opacity: 0.5;">
<div class="main-text" style="margin-left: -30%; color: white;"><br><br>
  <!-- Button trigger modal -->
  <!-- <!-- //<button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-outline-success waves-effect" style="width: 152px; height: 50px; font-size: 15px">Register Now</button> -->
  <br>
  <br>
  <p style="text-align: center;margin:7px 50px 0px 0px; margin-bottom: -250%" class="text">
    <button id="btnShop" type="button" class="btn btn-primary" 
  style="width: 200px;height: 50px; font-size: 15px; text-align: center;margin-left: 25%;"(click)="openClientPage()">
  ADMIN SIGN-IN</button>
  </p>
</div><br>