<div>
    <mat-card>
      <h4>Sign In with your Account</h4>
      <p>
        <input type="text" id="userName" name="userName" placeholder="Enter Your User Name">
      </p>
      <p>
        <input type="password" id="password" name="password" placeholder="Enter Your password">
      </p>
      <p style="margin-left: 45%;">
        <button type="submit" class="btn btn btn-outline-primary waves-effect">SIGN-IN</button>
        <button style="margin-left: 5%;" type="submit" class="btn btn btn-outline-warring waves-effect">
          REGISTER</button>
      </p>
    </mat-card>
  </div>
  