.main-panel{
    margin-top: -50%;
    margin-left: 300px;
}

input[type=text], input[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: blue;
}

.table-responsive{
    width: 80%;
    margin-left: 10%;
}

#tblEmployee tbody{
    background-color: white;
  }
  
  #tblEmployee tr{
    cursor: pointer;
  }
  
  #tblEmployee tr th:first-child, #tblEmployee tr td:first-child{
    text-align: center;
  }
  
  #tblEmployee tr td:last-child{
    text-align: center;
  }
  
  #tblEmployee tr td:last-child:hover{
    color: red;
  }
  