<app-nav-bar></app-nav-bar>
<div style="margin-top: 5%; color: black">
    <h2 style="text-align: center;font-family: Monospace;color: black">CONTACT VEG MARKET</h2>
    <h5 style="margin-left: 5%;">St veg and fruit trader are situated at the Ahangama vegitable market.Imaduwa rd, Ahangama.
       Should you wish to contact us for any matter you can reach us on the following address or 
       contact numbers listed below.</h5>
       <h5 style="margin-left: 5%;">If you wish to contact us via email please fill in &emsp;the following form and we will get in touch with you at the earliest.</h5>
       <hr>
       <form style="margin-left: 20%">
         <p>
           <input type="text" id="name" name="name" placeholder="Full Name">
         </p>
         <p>
            <input type="text" id="contactNo" name="contactNo" placeholder="Contact Number">
          </p>
          <p>
              <input type="text" id="email" name="email" placeholder="Email Address">
            </p>
            <p>
                <textarea name="comment" id="comment" cols="20" rows="6" placeholder="Comment/Message"></textarea>
              </p>
              <p style="margin-left: 10%;">
                <button type="submit" class="btn btn-primary" style="width: 150px; height: 50px; display: inline-block;">SEND</button>&nbsp;
                <button type="reset" class="btn btn-default"style="width: 150px; height: 50px;display: inline-block;">RESET</button>
              </p>
       </form>
  </div>
  <br>
  <br>
