<app-nav-bar></app-nav-bar>
<div class="main-page">
  <img clas="home"  src="./assets/images/homepage-2.jpg" style="width:1350px;height:600px;
  opacity: 0.5;">
  <div class="main-text" style="margin-left: -30%; color: white;"><br><br>
    <h3 style="text-align: center">ST VEG & FRUIT TRADERS - VEG MARKET- AHANGAMA</h3>
    <!-- Button trigger modal -->
    <!-- <!-- //<button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-outline-success waves-effect" style="width: 152px; height: 50px; font-size: 15px">Register Now</button> -->
    <p style="text-align: center;margin:7px 50px 0px 0px;" class="text">
      <button id="btnShop" type="button" class="btn btn-outline-primary waves-effect" 
    style="width: 200px;height: 50px; font-size: 15px; text-align: center;margin-left: 25%;"(click)="openClientPage()">
    SHOP NOW</button>
    </p>
  </div><br>
  <div><br>
    <div>
      <br>
      <h2>Veg Market by the numbers
        </h2>
        <h4>Some statistics for Vegetables.</h4>
    </div>
    <div style="margin-left: -3%; display: inline-block;">
        <h1>200</h1>
        <label>Rupees</label>
        <h3>Average Delivery Fee</h3>
    </div>
    <div style="margin-left: 10%; margin-right: -10%; display: inline-block;">
        <h1>10000</h1>
        <label>Online</label>
        <h3>Orders Delivered</h3>
    </div>
    <div style="margin-left: 20%; display: inline-block;">
        <h1>45</h1>
        <label>Minitues</label>
        <h3>Average Delivery Time</h3>
    </div>
    <br>
    <body style="background-image: url('../../../assets/images/vegbac.jpg'); width: 100%; height: 1000px;">
    </body>
  </div>
  <div>
    <br>
    <img src="./assets/images/content.jpg" style="width: 1350px; height: 500px;">
  </div>
</div><br>
<app-footer></app-footer>
